{% extends 'base.html' %}

{% block title %}
      {% load staticfiles %}
<link href="{% static "main/css/main_page_text.css"%}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
                <h1 class="center-block">Математический  путеводитель
        по  страницам истории и культуры Санкт-Петербурга</h1>
            </div>
        </div>
    <div class="container-fluid">
    <div class="row">
    <div class= "col-sm-12 col-xs-12 col-md-6 col-lg-6"  style="color: grey;">
            <div class="row"><h2 style="text-align: center" >Дорогие друзья</h2></div>
            <div class="row"><p>Мы приглашаем вас совершить необычное путешествие по , казалось бы, знакомым вам местам Санкт-Петербурга. В чем его необычность? В том, что, совершая виртуальную или обычную пешую прогулку по любимым уголкам города, вы не только будете иметь возможность узнать или еще раз вспомнить те или иные факты и легенды, связанные с историей и культурой города, но сможете также оценить его красоту с точки зрения мира арифметики и геометрии, насладиться гармонией его математических закономерностей. Ведь Петербург – это город великих архитекторов и живописцев, но это еще и многовековой центр российского математического образования.

Мы предлагаем вам посетить семь музеев города. Каждая «экскурсия» включает в себя презентации с историко-культурными справками и примеры математических задач, содержательно связанных с объектами, представленными в музейных зала. Все эти задачи составлены школьниками, учащимися школы № 127 Красногвардейского района Санкт-Петербурга. Мы надеемся на то, что вам будет интересно не только решать эти головоломки, но и составлять новые, ведь любовь к городу и к стране выражается, по нашему мнению, во внимании и в интересе к обыденным на первый взгляд деталям и в творческом их осмыслении.

А еще мы приглашаем вас поучаствовать в квесте. Вам предстоит по литературным или документальным источникам определить, о каком объекте в историческом центре Санкт-Петербурга идет речь, прогуляться до него и, конечно же, решить математическую задачу, чтобы в итоге почувствовать себя настоящим Юным Петербуржцем. А это, согласитесь, приятно…</p></div>
            <div class="row">
                <p><a href="people/">
                <h2 class="pull-left">Информация об организаторах</h2>
                </a></p>
            </div>
    </div>
    <div class="container-fluid col-sm-12 col-xs-12 col-md-6 col-lg-6">
        <div class="container-fluid">
            <img class="img-responsive" src="/media/fon.jpg"/>
        </div>
    </div>
    </div>
    </div>
{% endblock %}